{% extends "master.html" %}

{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="container mt-5 pt-5 d-flex justify-content-center align-items-center">
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
            <div class="card shadow">
                <div class="card-header bg-info-subtle">
                    <h2 class="text-center p-4">Cambia tu contraseña</h2>
                </div>
                <div class="card-body p-4">
                    <p>Se ha enviado un enlace de restablecimiento de contraseña a tu correo electrónico, si existe una cuenta asociada.</p>
                    <div class="d-grid">
                        <a href="{% url 'login' %}" class="btn btn-primary">Volver al inicio de sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}