{% extends "master.html" %}

{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="container mt-5 pt-5 d-flex justify-content-center align-items-center">
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
            <div class="card shadow">
                <div class="card-header bg-info-subtle">
                    <h2 class="text-center p-4">¿Olvidaste tu contraseña?</h2>
                </div>
                <div class="card-body p-4">
                    <p>Por favor, introduce tu dirección de correo electrónico para recibir un enlace de restablecimiento de contraseña.</p>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Enviar enlace de restablecimiento</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{%endblock%}