{% extends "master.html" %}

{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="container mt-5 pt-5 d-flex justify-content-center align-items-center">
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
            <div class="card shadow">
                <div class="card-header bg-info-subtle">
                    <h2 class="text-center p-4">Ingresa tu nueva contraseña</h2>
                </div>
                <div class="card-body p-4">
                    {% if validlink %}
                    <p>
                        Por favor, introduce tu nueva contraseña dos veces para confirmarla.
                    </p>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Enviar nueva contraseña</button>
                        </div>
                    </form>
                    {% else %}
                    <div class="alert alert-danger" role="alert">
                        El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya ha sido utilizado o ha expirado. Por favor, solicita un nuevo enlace de restablecimiento de contraseña.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{%endblock%}